body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111111;
    background-image: url('../images/classes-bg.png');
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.videos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.video-wrapper {
    flex: 1 1 45%;
    max-width: 45%;
    border: 2px solid #333;
    border-radius: 10px;
    overflow: hidden;
}

.video-wrapper video {
    width: 100%;
}
